body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.nav-open {
  background: rgba(0, 0, 0, 0.9);
}

/* .header_right a {
  color: white;
}

.header_right a:hover {
  color: #c91b48;
}

.header_btn-wrapper p{
  color: white
}

.header_nav-btn span{
  background-color: white;
} */