body {
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}

.nav-open {
  background: rgba(0, 0, 0, 0.9);
}

header a {
  color: white;
}

header a:hover {
  color: #c91b48;
}

.header_btn-wrapper p {
  color: white
}

.header_nav-btn span {
  background-color: white;
}

.header_ghlink a{
  color: white !important;
}

.header_ghlink a:hover{
  color: #808080 !important;
}