/*demi*/
@font-face {
  font-family: 'accent-font';
  src: url("../fonts/Futura-Dem.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

/*demi-obl*/
@font-face {
  font-family: 'accent-font';
  src: url("../fonts/Futura-DemObl.ttf") format("truetype");
  font-style: oblique;
  font-weight: 600; }

#external-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; }

h1, h2, h3 {
  color: #241515;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal; }

h3 {
  font-size: 18px; }

p, li {
  color: #241515;
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 28px; }

a {
  color: #C91B48; }
  a:hover {
    color: #808080;
    text-decoration: none; }

.container {
  margin: 0 auto;
  width: calc( 100vw - 40px);
  max-width: 700px; }
  @media screen and (min-width: 960px) {
    .container {
      width: calc( 100vw - 80px);
      max-width: 1120px; } }
@media screen and (min-width: 960px) {
  .hidden-lg {
    display: none; } }

.news-card {
  background: white;
  display: flex;
  flex-direction: column;
  height: 136px;
  justify-content: center;
  margin-bottom: 12px;
  padding: 0 12px; }
  @media screen and (min-width: 960px) {
    .news-card {
      padding: 0 20px; } }
  .news-card h3 {
    font-size: 18px;
    margin-bottom: 8px; }
  .news-card a {
    color: #241515; }
    .news-card a:hover {
      color: #C91B48; }
  .news-card p {
    color: #808080;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0; }

header {
  background: white;
  height: 68px;
  z-index: 10; }

.header_contents {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-column-gap: 0; }

.header_logo {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  line-height: 62px; }

.hlogo-img {
  height: 22px; }

.language_swicher {
  grid-column-start: 3;
  grid-column-end: 4;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  line-height: 70px; }

.news-header {
  background-image: url(/image/news-header.png);
  background-size: cover;
  color: white;
  height: 144px;
  line-height: 144px;
  text-align: center; }
  .news-header h1 {
    color: white;
    font-size: 60px;
    font-family: accent-font;
    font-style: oblique; }
  @media screen and (min-width: 560px) {
    .news-header {
      height: 240px;
      line-height: 240px; }
      .news-header h1 {
        font-size: 72px; } }
footer {
  background: #C91B48;
  color: white;
  padding: 14px 20px 12px 20px; }

.back-to-top a {
  background: white;
  border-radius: 50%;
  display: block;
  height: 36px;
  line-height: 36px;
  margin: 0 0 0 auto;
  text-align: center;
  width: 36px; }
  .back-to-top a:hover {
    background: #F2F2F2; }

.back-to-top i {
  font-size: 20px;
  color: #241515; }

.footer-logo {
  text-align: center;
  margin-bottom: 56px; }
  .footer-logo img {
    width: 200px; }

.footer-menu ul {
  list-style: none;
  margin-bottom: 48px;
  padding: 0;
  text-align: center; }

.footer-menu li {
  font-family: 'accent-font';
  font-size: 20px;
  font-style: normal;
  margin-bottom: 28px; }

.footer-menu a {
  color: white; }
  .footer-menu a:hover {
    color: #F2F2F2; }

.footer-copyright {
  text-align: center; }
  .footer-copyright p {
    color: white;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    margin: 0; }

#news, #team, #technology {
  background: #F2F2F2; }

section {
  padding: 60px 0; }

.section-title-wrapper {
  margin-bottom: 1.5rem;
  text-align: center; }

.section-title {
  font-family: 'accent-font';
  font-style: oblique;
  font-size: 32px;
  position: relative;
  text-align: center;
  z-index: 10; }
  .section-title::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    border-bottom: 15px solid #C91B48;
    width: 100%;
    z-index: -10; }

.top-header {
  position: relative;
  height: calc( 100vh - 72px);
  width: 100vw;
  background-image: url("/image/top.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 560px) {
    .top-header {
      background-image: url("/image/top-tb.jpg"); } }
  @media screen and (min-width: 960px) {
    .top-header {
      background-image: url("/image/top-pc.jpg"); } }
  .top-header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#241515 30%, transparent 0), radial-gradient(#241515 30%, transparent 0);
    background-position: 0 0, 3px 3px;
    background-size: 6px 6px; }
  .top-header h1 {
    color: white;
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 40px;
    font-size: 22px;
    z-index: 10;
    text-align: center; }
  @media screen and (min-width: 560px) {
    .top-header h1 {
      line-height: 72px;
      font-size: 36px; } }
  @media screen and (min-width: 960px) {
    .top-header h1 {
      line-height: 92px;
      font-size: 60px; } }
.scroll-down {
  text-align: center;
  z-index: 10;
  position: absolute;
  bottom: 20px; }
  .scroll-down p {
    color: white;
    font-family: accent-font;
    font-style: oblique;
    font-size: 24px;
    line-height: 16px; }
  .scroll-down i {
    font-size: 48px; }

.about-contents-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.movie-wrapper {
  position: relative;
  width: 100%;
  margin: 24px 0;
  padding: calc( (100vw - 40px) * 9 / 16) 0 0; }
  .movie-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 740px) {
    .movie-wrapper {
      max-width: 700px;
      margin: 24px auto;
      padding: calc( 700px * 9 / 16) 0 0; } }
.news-button {
  text-align: center;
  font-family: "accent-font";
  font-size: 20px;
  font-style: oblique;
  line-height: 20px; }

.readmore {
  margin-top: 32px; }

.link-to-fb {
  margin: 24px 0;
  text-align: center; }

.mission-contents h1 {
  text-align: center;
  margin-bottom: 1.5rem; }

.tech-wrapper {
  display: grid;
  margin: 0 auto; }
  @media screen and (min-width: 960px) {
    .tech-wrapper {
      grid-template-columns: 28% 28% 28%;
      justify-content: space-between; } }
.each-tech {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px 0; }
  .each-tech .tech-no {
    color: #808080;
    font-family: "accent-font";
    font-style: oblique;
    font-size: 48px; }
  .each-tech img {
    display: block;
    margin: 24px 0;
    height: 150px; }
  .each-tech h3 {
    margin-bottom: 0; }
  .each-tech p {
    margin: 0; }

.supporters-wrapper {
  display: grid;
  margin: 60px auto;
  align-items: center;
  grid-row-gap: 120px; }
  @media screen and (min-width: 960px) {
    .supporters-wrapper {
      margin-top: 0;
      margin-bottom: 0;
      grid-row-gap: 72px;
      grid-template-columns: 240px 240px 240px;
      grid-template-rows: 160px;
      justify-content: space-between; } }
.each-supporter {
  display: flex;
  align-items: center;
  justify-content: center; }
  .each-supporter a {
    display: block; }
  .each-supporter img {
    max-width: 200px;
    max-height: 120px; }

.team-wrapper {
  display: grid;
  margin: 0 auto; }
  @media screen and (min-width: 960px) {
    .team-wrapper {
      grid-template-columns: 50% 1fr;
      justify-content: space-between; } }
.each-member {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px 0 24px 0; }
  .each-member img {
    border-radius: 100%;
    display: block;
    margin-bottom: 16px;
    width: 140px;
    height: 140px; }
  .each-member h3 {
    font-family: "accent-font";
    font-style: oblique;
    font-size: 24px;
    margin-bottom: 0; }
  .each-member h4 {
    color: #C91B48;
    font-family: "accent-font";
    font-style: normal;
    font-size: 16px;
    margin-bottom: 16px; }
  @media screen and (min-width: 960px) {
    .each-member {
      margin: 24px 24px; } }
.contact-contents h3 {
  text-align: center;
  margin-bottom: 1rem; }

.news-list {
  background: #F2F2F2;
  padding: 48px 20px;
  min-height: calc( 100vh - 400px); }

.article {
  margin: 48px auto 72px; }
  @media screen and (min-width: 960px) {
    .article {
      margin-bottom: 120px; } }
.article-date {
  color: #808080;
  font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 32px; }

.article-content h2 {
  position: relative;
  margin-bottom: 28px; }
  .article-content h2:after {
    content: "";
    border-bottom: 1px solid #241515;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -4px; }

.article-content h3 {
  margin-bottom: 24px; }

.article-content img {
  display: block;
  margin: 64px auto 64px;
  text-align: center;
  width: 100%; }
  @media screen and (min-width: 960px) {
    .article-content img {
      width: 60%; } }
.notfound-wrapper {
  padding-top: 72px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .notfound-wrapper h1 {
    text-align: center;
    font-size: 16px;
    color: #241515;
    margin-bottom: 24px; }
  .notfound-wrapper h2 {
    color: white;
    background: #C91B48;
    font-family: accent-font;
    font-style: oblique;
    padding: 6px 24px 4px;
    border-radius: 4px; }
    .notfound-wrapper h2:hover {
      background: #808080; }
  @media screen and (min-width: 560px) {
    .notfound-wrapper h1 {
      font-size: 28px; } }
  @media screen and (min-width: 960px) {
    .notfound-wrapper h1 {
      font-size: 40px; } }
